body{
    background-image: linear-gradient(rgb(214, 237, 237),rgb(15, 124, 148));
    justify-content: center;
    align-items: center; 
}
.search-container{
   position: relative;
   left:43%;
   
    align-items: center;
    margin-bottom:20px;
    margin-top:20px
  }
  .image-results{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-evenly;
    overflow-y: scroll;
    height: 100vh;
  } 

.image-wrapper{
    
    border: 5px solid #CCCCCC ;
            box-sizing: border-box ;
            height: 50% ;
            overflow: auto ;
            width: 80% ;
}
.jumbotron-fluid{
    justify-content: center
}